.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #000; /* Set the background color to black */
    margin-top: 20px;
    opacity: 0;
    transform: scale(0.9); /* Initial scale effect */
    animation: fadeInAndScale 0.5s ease-in-out forwards;
    color: #ccc;
}

@keyframes fadeInAndScale {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    opacity: 0; /* Additional opacity effect for form elements */
    transform: translateY(-10px); /* Initial vertical translation effect */
    animation: fadeInAndTranslate 0.5s ease-in-out forwards;
}

@keyframes fadeInAndTranslate {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out;
}

input:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.text-danger {
    color: #dc3545;
    font-size: 14px;
    margin-top: 4px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}
